* {
    background-color: hsl(180, 70%, 91%);
}

.container {
    text-align: center;
    display: block;
    font-size: 20px;
}

h1 {
    font-size: 50px;
    color: hsl(180, 53%, 35%);
}

h2 {
    color: hsl(180, 53%, 35%);
}

button {
    width: 180px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    color: black;
    font-weight: bold;
}

#nextButton {
    background-color: rgb(112, 189, 112);
    font-weight: bolder;
}

