.header {
    margin: auto;
    width: auto;
    text-align: center;
    font-size: xx-large;
    border-radius: 40px;
}

.btn {
    width: 100px;
    height: 60px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 20px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
}